body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(228, 224, 224, 0.663);
  text-align: right;
  border: none;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding-right: 10px; 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 18px;
  font-weight: 550;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #e0e0e0;
}


.equalButton {
  grid-row: 5 / 6;
  grid-column: 4 / 5;
}

.divide-button {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.mode-button{
  background-color: rgb(117, 114, 114);
  color: white;
}
.mode-button:hover{
  background-color: rgb(11, 10, 10);
}