body {
  background-color: darkslategrey;
}

.mainContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.toggle{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: aqua;
}
.toggle::after{
  content: '';
  position: absolute;
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0;
  margin-left: 1px;
  border: 1px solid gray;
  overflow: hidden;
}
.toggle:hover:after {

  transition:transform 0.3s ease;
  transform: translateX(50px);
}
.container {
  width: auto;
   
}

.topContainer {
  position: relative;
  background-color: black;
  color: antiquewhite;
  padding: 10px;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

.valueEnter {
  width: 90%;
  height: 75px;
  margin-top: 10px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 10px;
  border-radius: 10px;
  border: none;
  background-color: lightgoldenrodyellow;
   box-shadow: 0px 0px 5px beige;

}

.bottomContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  background-color: black;
  border-radius: 0 0 20px 20px;
  padding-bottom: 20px;
}

.bottomContainer .buttons,.buttonsadd,.buttonsdiv,.buttonssub,.buttonsc,.buttonsmul,.back,.buttonsequal {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  align-content: center;
  justify-content: center;
  background-color: gray;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px beige;
}
.buttons:active{
  color: red;
}

.buttons:hover {
  background-color: darkgray;
}

.buttonsadd,.buttonsdiv,.buttonssub,.buttonsmul{
  background-color: orange; font-size: 2rem; font-weight: 500;
}
.buttonsadd:hover, .buttonsdiv:hover, .buttonssub:hover, .buttonsmul:hover{
  background-color: #FFBF78;
}
.buttonsequal{
  background-color: beige;
  color: black; font-size: 2rem; font-weight: 500;
}
.buttonsdiv {
  grid-column: 4/5;
  grid-row: 1/2;
}

.buttonsmul {
  grid-column: 4/5;
  grid-row: 2/3;
}

.buttonssub {
  grid-column: 4/5;
  grid-row: 3/4;
}

.buttonsadd {
  grid-column: 4/5;
  grid-row: 4/5;
  
}
.buttonsc,.back{
  background-color: red;
}
.buttonsc:hover,.back:hover{
  background-color: rgb(174, 42, 42);
}

.buttonsc {
  grid-column: 1/2;
  grid-row: 1/2;
}

.back {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}